# Virtual environments
.venv/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Local databases
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local

# IDE / Editor configs
.vscode/
.idea/
